<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Exercise 1</title>
        <link  rel="stylesheet" href="public/css/owl.carousel.min.css" />
        <link  rel="stylesheet" href="public/css/owl.theme.default.min.css" />
        
        <script type="text/javascript" src="public/js/angularjs1.7.5.js"></script>
     
        <script src="public/js/jquery.js"></script>
        <script src="public/js/owl.carousel.js"></script>
        <script src="public/js/test1.js"></script>

    </head>
    
<body>
    <div ng-app="app" ng-controller="TestController">

        <select name="language" ng-model="language" ng-change="Update()">
            <option value="es" selected="selected">Español</option>
            <option value="en">Ingles</option>
        </select>

        <div class="owl-carousel owl-theme image-slider">
            <div ng-repeat="slide in slides" ng-init="$last && finished()" interval="{{slide.timeout}}">
                    <p>{{slide.text}}</p>
            </div>
        </div>
          

    </div>
</body>
</html>